.border-bottom-filter {
    border-bottom: 2px solid #7fad39;
    padding-bottom: 3%;
    margin-bottom: 5%;
}
.border-bottom-filter h4 {
    font-size: 18px;
    white-space: nowrap;
}

#products {
    padding: 2%;
}
#products #right-panel .uk-card-body {
    padding-left: 6%;
    padding-right: 6%;
}
#products #right-panel .uk-card-media-top,
#products #right-panel .uk-card-media-bottom {
    overflow: hidden;
}
#products #right-panel img {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: contain;
    transition: transform 2s;
    background-color: #eee;
}
#products #right-panel img:hover {
    transform: scale(1.1);
}

#products .pagination a {
    text-decoration: none;
}

#products #left-panel {
    border-right: 3px solid #7fad39;
}
#filter {
    background-color: #7fad39;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 2%;
    display: none;
}
.uk-close-large {
    display: none;
}

.sale {
    background-color: rgb(241, 12, 12);
    color: snow;
    width: 60px;
    height: 35px;
    padding: 1%;
    font-weight: 600;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    text-transform: uppercase;
}

.sale p {
    margin: 0;
    white-space: nowrap;
    display: inline-block;
}

.sale .corner {
    position: absolute;
    top: 0;
    right: -25px;
    width: 35px;
    height: 35px;
    transform: rotate(45deg);
    background-color: #fff;
}

@media (max-width: 575.98px) {
    #products #left-panel {
        position: absolute;
        display: none;
        z-index: 1000;
        background-color: #f3f6fa;
        width: 80%;
        height: 100%;
    }
    .uk-first-column {
        padding: 2%;
    }
    #filter {
        display: block;
    }
    .uk-close-large {
        display: block;
    }
}
@media (min-width: 575.98px) and (max-width: 1199.98px) {
    #products #left-panel {
        position: absolute;
        display: none;
        z-index: 1000;
        background-color: #f3f6fa;
        width: 80%;
        height: 100%;
    }
    #filter {
        display: block;
    }
    .uk-close-large {
        display: block;
    }
}
