body,html{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: 'Playfair Display', serif;
	background-color: #f3f6fa;
}

h1,h2,h3,h4,h6,button{
	font-family: 'Roboto Slab', serif !important;
}

header{
	height: 89px;
}
header nav{
	background-color: white;
	position: fixed;
	z-index: 1;
	width: 100%;
	padding: 1%;
	margin: auto;
}

header nav #container{
	width: 80%;
	margin: auto;
}

#div_searchbar button{
	background-color: #7fad39;
	border: 1px solid #7fad39;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	margin: 0;
}
#div_searchbar button a{
	color: snow;
	display: block;
	margin: auto !important;
}
#div_searchbar button a svg{
	width: 30px;
	height: 30px;
}

#user_icon{
	border: none;
	padding: 0;
	color: #7fad39;
}
#user_icon a{
	color: #7fad39;
}

.uk-offcanvas-bar{
	padding-left: 10px;
}
.uk-offcanvas-bar div{
	margin-top: 5% !important;
	margin-bottom: 5% !important;
}
.uk-offcanvas-bar div button{
	background-color: inherit;
	border: none;
	color: snow;
}
.uk-offcanvas-bar div button:hover{
	background-color: inherit;
}
.uk-offcanvas-bar div ul{
	background-color: inherit;
	padding-left: 15px;
	border: none;
	position: inherit !important;
    inset: unset !important;
    margin: 0px !important;
    transform: translate(0) !important;
}
.uk-offcanvas-bar div ul li a:hover{
	background-color: inherit !important;
}

#sec-1{
	width: 80%;
	margin: auto;
	padding: 2% 0;
}

@media (max-width: 575.98px) {
	header{
		height: auto;
	}
	header nav {
		position: static;
	}
	header nav #container{
		width: 90%;
	}

	#search{
		width: 100% !important;
		margin-top: 1.5%;
	}

	#logo{
		width: 60px;
	}
}

@media (min-width: 575.98px) and (max-width: 1199.98px) {}